<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Title</title>
	</head>
	<body>
	
		<nav th:replace="fragments/headers :: nav"></nav>
		<div class="content">
		
		<div sec:authorize="!isAuthenticated()">
			<h1>Unknown user</h1>
			<br>
			<p>You need to be logged in for browsing this page.</p>
			<p>Please log in, or ask admin to register your account.</p>
		</div>
		
		<div sec:authorize="isAuthenticated()">
		 
		<h1>Edit User <Label th:text="${user.username}"></Label> </h1>	
		<form th:action="@{/confirmPasswordChange}" method="post">
			
			<ul class="form-style-1">
			
			<li>
				<label>Current Password: <span class="required">*</span></label>
				<input type="password" name="currentPassword" class="field-long" /> 
			</li>
			<li>
				<label>New Password: <span class="required">*</span></label>
				<input type="password" name="newPassword" class="field-long" />
			</li>
			<li>
				<label>Confirm Password: <span class="required">*</span></label>
				<input type="password" name="confirmPassword" class="field-long" />
			</li>
			<br>
			<li>
				<input type="submit" value="Change Password" />
			</li>
			
		</ul>
		</form>
		<br>
		<div th:text="${message}"></div>
		</div>
	</body>
</html>

<!-- 
<div>
				<label for="fullName">FullName: </label><input th:field="${user.fullName}" type="text" name="fullName" id="fullName" />
			</div>
			<div>
				<label for="personalIDNum">PersonalIDNumber:  </label><input th:field="${user.personalIDNum}" type="text" name="personalIDNum" id="personalIDNum" />
			</div>
			<div>
				<label for="adress">Adress: </label><input th:field="${user.adress}" type="text" name="adress" id="adress" />
			</div>
			<div>
				<label for="email">E-mail: </label><input th:field="${user.email}" type="text" name="email" id="email" />
			</div>
			<div>
				<label for="phone">PhoneNum: </label><input th:field="${user.phone}" type="text" name="phone" id="phone" />
			</div>
			<div>
				<label for="bankAcc">BankAcc: </label><input th:field="${user.bankAcc}" type="text" name="bankAcc" id="bankAcc" />
			</div>
			<div>
				 <select th:field="*{user.role.code}">
              		  <option th:each="role : ${roles}"
                        th:value="${role.code}"
                        th:utext="${role.name}"/>
           		 </select>
			</div>
			<div>
				<input type="submit" value="Edit" />
				<a th:href="@{/userList}">BACK</a>
			</div>
 -->
