<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Title</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		
		<h1>Contact List</h1>
		
		<th:block th:each="contact : ${contacts}">			
					<tr>
						<td><a th:href="@{/contactList/contact?id={id}(id=${contact.Id})}"><div th:text="${contact.name}"></div></a></td>
						<td><a th:href="@{/deleteContact?id={id}(id=${contact.Id})}"><i class="fa fa-cross"></i></a>
					</tr>
		</th:block>
		
	</body>
</html>
