<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="cs">
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>PIA</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<h1>Edit Contact</h1>
		
		<form th:action="@{/confirmEditContact?id={id}(id=${contact.Id})}" method="post">
			<div>
				<label for="name">Name: </label><input th:field="${contact.name}" type="text" name="name" id="name" />
			</div>
			<div>
				<label for="residence">Residence: </label><input th:field="${contact.residence}" type="text" name="residence" id="residence" />
			</div>
			<div>
				<label for="identificationNumber">Identification Number: </label><input th:field="${contact.identificationNumber}" type="text" name="identificationNumber" id="identificationNumber" />
			</div>
			<div>
				<label for="taxIndentificationNumber">Tax Identification Number: </label><input th:field="${contact.taxIdentificationNumber}" type="text" name="taxIdentificationNumber" id="taxIdentificationNumber" />
			</div>
			<div>
				<label for="phone">Phone: </label><input th:field="${contact.phone}" type="text" name="phone" id="phone" />
			</div>
			<div>
				<label for="email">E-mail: </label><input th:field="${contact.email}" type="text" name="email" id="email" />
			</div>
			<div>
				<label for="bankAcc">Bank Account: </label><input th:field="${contact.bankAcc}" type="text" name="bankAcc" id="bankAcc" />
			</div>
			<div>
				<input type="submit" value="Confirm" />
				<a th:href="@{/contactList}">BACK</a>
			</div>
			
		</form>
				
	</body>
</html>
