<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Title</title>
	</head>
	<body>
		<script th:src="@{/JS/addingItems.js}"></script>
		<nav th:replace="fragments/headers :: nav"></nav>
		<div class="content">
		<h1>EDIT INVOICE <Label th:text="${invoice.documentSerialNumber}"></Label> </h1>
		
			<form th:action="@{/confirmEditInvoice?id={id}(id=${invoice.Id})}" method="post">
			<ul class="form-style-1">
			<li>
				<label for="documentSerialNumber">Document Serial Number</label>
				<input th:field="${invoice.documentSerialNumber}" type="text" name="documentSerialNumber" class="field-long" />
			</li>
			<li>
				<label for="dateExposure">Exposure Date: </label>
				<input th:field="${invoice.dateExposure}" type="text" name="dateExposure" class="field-long" />
			</li>
			<li>
				<label for="dateExecution">Execution Date: </label>
				<input th:field="${invoice.dateExecution}" type="text" name="dateExposure" class="field-long" />
			</li>
			<li>
				<label for="symbolVariable">Variable Symbol: </label>
				<input th:field="${invoice.symbolVariable}" type="text" name="symbolVariable" class="field-long" />
			</li>
			<li>
				<label for="symbolConstant">Constant Symbol: </label>
				<input th:field="${invoice.symbolConstant}" type="text" name="symbolConstant" class="field-long" />
			</li>
			
			<li>
				<label for="supplier">Supplier:</label>
				<select th:field="*{invoice.supplier.name}" class="field-select">
            		<option th:each="contact : ${contacts}"
                        th:value="${contact.name}"
                        th:utext="${contact.name}"/>
           		 </select>
			</li>
			<li>
			<label for="customer">Customer:</label>
			<select th:field="*{invoice.customer.name}" class="field-select">
              <option th:each="contact : ${contacts}"
                        th:value="${contact.name}"
                        th:utext="${contact.name}"/>
           		 </select>
			</li>

			
			<label>Items</label>

			<table id="itemTable" th:object="${itemList}">
				<tr>
					<th>Name</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
				
				<th:block th:each="item , stat : *{items}">
				
				 
					<tr>
					 	<td><input th:field="*{items[__${stat.index}__].name}" type="text" name="name" id="name" /></td>
						<td><input th:field="*{items[__${stat.index}__].quantity}" type="text" name="quantity" id="quantity" /></td>
						<td><input th:field="*{items[__${stat.index}__].price}" type="text" name="price" id="price" /></td>
						<td><input type="button" value="Delete" onclick="deleteRow(this)"></td>
					</tr>

					 	 
				</th:block>
			</table>
			<li>
				<button th:disabled="${invoice.cancelled}" type="button" onclick="addRow()" id="addRowButton" class="butto">Add Item</button>
			</li>
			<br><br>
			<li>
				<input type="submit" value="Confirm" />
				<a th:href="@{/invoiceList}">BACK</a>
			</li>
			</ul>
		</form>
		
		<div th:text="${message}"></div>
		</div>
	</body>
</html>
