<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Title</title>
	</head>
	<body>
		<script th:src="@{/JS/addingItems.js}"></script>
		<nav th:replace="fragments/headers :: nav"></nav>
		<h1>EDIT INVOICE <Label th:text="${invoice.documentSerialNumber}"></Label> </h1>
		
			<form th:action="@{/confirmEditInvoice?id={id}(id=${invoice.Id})}" method="post">
			<div>
				<label for="documentSerialNumber">Document Serial Number: </label><input th:field="${invoice.documentSerialNumber}" type="text" name="documentSerialNumber" id="documentSerialNumber" />
			</div>
			<div>
				<label for="dateExposure">Exposure Date: </label><input th:field="${invoice.dateExposure}" type="text" name="dateExposure" id="dateExposure" />
			</div>
			<div>
				<label for="dateExecution">Execution Date: </label><input th:field="${invoice.dateExecution}" type="text" name="dateExposure" id="dateExposure" />
			</div>
			<div>
				<label for="symbolVariable">Variable Symbol: </label><input th:field="${invoice.symbolVariable}" type="text" name="symbolVariable" id="symbolVariable" />
			</div>
			<div>
				<label for="symbolConstant">Constant Symbol: </label><input th:field="${invoice.symbolConstant}" type="text" name="symbolConstant" id="symbolConstant" />
			</div>
			
			<div>
				<label for="supplier">Supplier:</label>
				<select th:field="*{invoice.supplier.name}">
            		<option th:each="contact : ${contacts}"
                        th:value="${contact.name}"
                        th:utext="${contact.name}"/>
           		 </select>
			</div>
			<div>
			<label for="customer">Customer:</label>
			<select th:field="*{invoice.customer.name}">
              <option th:each="contact : ${contacts}"
                        th:value="${contact.name}"
                        th:utext="${contact.name}"/>
           		 </select>
			</div>

			
			<h3>Items:</h3>

			<table id="itemTable" th:object="${itemList}">
				<tr>
					<th>Name</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
				
				<th:block th:each="item , stat : *{items}">
				
				 
					<tr>
					 	<td><input th:field="*{items[__${stat.index}__].name}" type="text" name="name" id="name" /></td>
						<td><input th:field="*{items[__${stat.index}__].quantity}" type="text" name="quantity" id="quantity" /></td>
						<td><input th:field="*{items[__${stat.index}__].price}" type="text" name="price" id="price" /></td>
						<td><input type="button" value="Delete" onclick="deleteRow(this)"></td>
					</tr>

					 	 
				</th:block>
			</table>
			<div>
					<button th:disabled="${invoice.cancelled}" type="button" onclick="addRow()" id="addRowButton" class="butto">Add Item</button>
				</div>
			<br><br>
			<div>
				<input type="submit" value="Confirm" />
				<a th:href="@{/invoiceList}">BACK</a>
			</div>
		</form>
		
		<div th:text="${message}"></div>
			
	</body>
</html>
