<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="cs">
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>PIA</title>
	</head>
	
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<div class="content">
		
		<div sec:authorize="!isAuthenticated()">
			<h1>Unknown user</h1>
			<br>
			<p>You need to be logged in for browsing this page.</p>
			<p>Please log in, or ask admin to register your account.</p>
		</div>
		
		<div sec:authorize="isAuthenticated()">
		
		<div sec:authorize="!hasAuthority('ACCOUNTANT')">
			<h1>Not Accountant</h1>
			<br>
			<p>This page can be seen only by administrator.</p>
			<p>Please log in as accountant, or ask admin to register your accountant account.</p>
		</div>
		
		<div sec:authorize="hasAuthority('ACCOUNTANT')">
		
		<h1>Edit Contact</h1>
		
		<form th:action="@{/confirmEditContact?id={id}(id=${contact.Id})}" method="post">
		<ul class="form-style-1">
			<li>
				<label for="name">Name: </label>
				<input th:field="${contact.name}" type="text" name="name" class="field-long" />
			</li>
			<li>
				<label for="residence">Residence: </label>
				<input th:field="${contact.residence}" type="text" name="residence" class="field-long" />
			</li>
			<li>
				<label for="identificationNumber">Identification Number: </label>
				<input th:field="${contact.identificationNumber}" type="text" name="identificationNumber" class="field-long" />
			</li>
			<li>
				<label for="taxIndentificationNumber">Tax Identification Number: </label>
				<input th:field="${contact.taxIdentificationNumber}" type="text" name="taxIdentificationNumber" class="field-long" />
			</li>
			<li>
				<label for="phone">Phone: </label>
				<input th:field="${contact.phone}" type="text" name="phone" class="field-long" />
			</li>
			<li>
				<label for="email">E-mail: </label>
				<input th:field="${contact.email}" type="text" name="email" class="field-long" />
			</li>
			<li>
				<label for="bankAcc">Bank Account: </label>
				<input th:field="${contact.bankAcc}" type="text" name="bankAcc" class="field-long" />
			</li>
			<br>
			<li>
				<input type="submit" value="Confirm" />
			</li>
		</ul>
		</form>
		</div>
	</div>	
	</body>
</html>

