<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="cs">
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>PIA</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<div class="content">
		
		<div sec:authorize="!isAuthenticated()">
			<h1>Unknown user</h1>
			<br>
			<p>You need to be logged in for browsing this page.</p>
			<p>Please log in, or ask admin to register your account.</p>
		</div>
		
		<div sec:authorize="isAuthenticated()">
		
		<div sec:authorize="!hasAuthority('ACCOUNTANT')">
			<h1>Not Accountant</h1>
			<br>
			<p>This page can be seen only by administrator.</p>
			<p>Please log in as accountant, or ask admin to register your accountant account.</p>
		</div>
		
		<div sec:authorize="hasAuthority('ACCOUNTANT')">
		
		
		<h1>New Contact</h1>
		
		<form th:action="@{/confirmContact}" method="post">
		<ul class="form-style-1">
			<li>
				<label for="name">Name <span class="required">*</span></label>
				<input type="text" name="name" class="field-long" />
			</li>
			<li>
				<label for="residence">Residence <span class="required">*</span> </label>
				<input type="text" name="residence" class="field-long" />
			</li>
			<li>
				<label for="identificationNumber">Identification Number <span class="required">*</span> </label>
				<input type="text" name="identificationNumber" class="field-long" />
			</li>
			<li>
				<label for="taxIndentificationNumber">Tax Identification Number <span class="required">*</span> </label>
				<input type="text" name="taxIdentificationNumber" class="field-long" />
			</li>
			<li>
				<label for="phone">Phone </label>
				<input type="text" name="phone" class="field-long" />
			</li>
			<li>
				<label for="email">E-mail <span class="required">*</span></label>
				<input type="text" name="email" class="field-long" />
			</li>
			<li>
				<label for="bankAcc">Bank Account <span class="required">*</span></label>
				<input type="text" name="bankAcc" class="field-long" />
			</li>
			<li>
				<input type="submit" value="Confirm" />
			</li>
		</ul>
		</form>
		
		<div th:class="${class}" th:text="${message}"></div>
		
		</div>
		</div>
	</body>
</html>
