<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:fragment="head(title)">
		<title th:replace="${title}">PIA ukázka</title>
		
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
	</head>

	
	<body>
		<script th:src="@{/JS/responsiveMenu.js}"></script>
		<nav th:fragment="nav">
		<div class="topnav" th:fragment="nav">
		  <a class="active" th:href="@{/}">Home</a>
		  <div class="dropdown">
			    <button class="dropbtn">Users 
			      <i class="fa fa-caret-down"></i>
			    </button>
			    <div class="dropdown-content">
				      <a th:href="@{/userList}">User List</a>
				      <a th:href="@{/registration}">New User</a>
			    </div>
		  </div> 
		  <div class="dropdown">
			    <button class="dropbtn">Contacts 
			      <i class="fa fa-caret-down"></i>
			    </button>
			    <div class="dropdown-content">
			      <a th:href="@{/contactList}">Contact List</a>
			      <a th:href="@{/newContact}">New Contact</a>
			    </div>
		  </div> 
		  <div class="dropdown">
			    <button class="dropbtn">Invoices 
			      <i class="fa fa-caret-down"></i>
			    </button>
			    <div class="dropdown-content">
			      <a th:href="@{/invoiceList}">Invoice List</a> 
			      <a th:href="@{/newInvoice}">New Invoice</a>
			    </div>
		  </div> 

		  <div class="topnav-right">
		  <span class="logged-user" sec:authentication="name"></span>
		    <a th:href="@{/logout}">Login</a>
		    <a th:href="@{/logout}">Logout</a>
		    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    		<i class="fa fa-bars"></i>
  			</a>
		  </div>
		  
		</div>
		
	</nav>
	</body>
</html>

<!-- 

<div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> 

 		<a th:href="@{/userList}">Users</a>
		  <a th:href="@{/contactList}">Contacts</a>
		  <a th:href="@{/invoiceList}">Invoices</a> 
		  
 -->
  